.container {
  display: flex;
  flex-direction: column;


}
img {
  margin-top: 50px;
  width: 200px;
  height: 200px;
}
.center-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 400px;
  height: 400px;

}
.selected-image {
  border: 2px solid mediumvioletred;
}
.center-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
