.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header-title {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-search {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
hr {
  margin-top: 0;
}
